<div class="odd slide">
    <div class="container animated zoomInUp">
        <div class="row">
            <div class="col-md-12">
                <img src="../assets/logo-findmore.png" alt="Findmore Academy" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Introduction To AngularJS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="../assets/angular.svg" alt="AngularJS" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Cristiano Correia</h3>
                <h4>Advisory IT Specialist for Applications Development @ ING Bank Netherlands</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>
                    <a href="http://academy.findmore.pt/learning-areas/development/introduction-to-angularjs"
                       title="Formação Findmore Academy"
                       target="_blank">Formação Findmore Academy</a>
                </h5>
            </div>
        </div>
    </div>
</div>