<div class="even slide content">
    <div class="container animated zoomInUp">
        <div class="row">
            <div class="col-md-12">
                <h1>Filtros</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="https://docs.angularjs.org/api/ng/filter" title="Filtros nativos" target="_blank">Filtros nativos</a>
            </div>
             <div class="col-md-6">
                <a href="https://docs.angularjs.org/guide/filter" title="Filtros custom" target="_blank">Filtros custom</a>
            </div>
        </div>
    </div>
</div>