<div class="even slide content">
    <div class="container animated zoomInUp">
        <div class="row">
            <div class="col-md-12">
                <h1>Detectar alterações</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="https://docs.angularjs.org/api/ng/type/$rootScope.Scope" title="$watch" target="_blank">$watch</a>
            </div>
             <div class="col-md-4">
                <a href="https://docs.angularjs.org/api/ng/type/$rootScope.Scope" title="$watchCollection" target="_blank">$watchCollection</a>
            </div>
             <div class="col-md-4">
                <a href="https://docs.angularjs.org/api/ng/directive/ngChange" title="ngChange" target="_blank">ngChange</a>
            </div>
        </div>
    </div>
</div>