<div class="even slide content">
    <div class="container animated zoomInUp">
        <div class="row">
            <div class="col-md-12">
                <h1>Outras funcionalidades de AngularJs</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="http://karma-runner.github.io/0.8/index.html" title="Karma" target="_blank">Karma</a>
            </div>
            <div class="col-md-4">
                <a href="http://www.protractortest.org/#/" title="Protractor" target="_blank">Protractor</a>
            </div>
            <div class="col-md-4">
                <a href="https://jasmine.github.io/" title="Jasmine" target="_blank">Jasmine</a>
            </div>
        </div>
        <div class="row">
             <div class="col-md-6">
                <a href="https://github.com/angular-ui/ui-router" title="UI Router" target="_blank">UI Router</a>
            </div>
            <div class="col-md-6">
                <a href="https://angular-translate.github.io/" title="Angular Translate" target="_blank">Angular Translate</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="https://docs.angularjs.org/guide/scope" title="$scope & $rootScope" target="_blank">$scope & $rootScope</a>
            </div>
            <div class="col-md-3">
                <a href="https://www.sitepoint.com/understanding-angulars-apply-digest/" title="$apply vs. $digest" target="_blank">$apply vs. $digest</a>
            </div>
             <div class="col-md-3">
                <a href="https://docs.angularjs.org/guide/decorators" title="Decorators" target="_blank">Decorators</a>
            </div>
            <div class="col-md-3">
                <a href="https://docs.angularjs.org/guide/$location" title="$location" target="_blank">$location</a>
            </div>
        </div>
    </div>
</div>