<div class="odd slide content">
    <div class="container animated zoomInUp">
        <div class="row">
            <div class="col-md-12">
                <h1>Criação de Templates</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Component vs. Directive</h3>
            </div>
            <div class="col-md-6">
                <a href="https://docs.angularjs.org/guide/component" title="Component" target="_blank">Component</a>
            </div>
             <div class="col-md-6">
                <a href="https://docs.angularjs.org/guide/directive" title="Directive" target="_blank">Directive</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Algumas Directives nativas</h3>
            </div>
            <div class="col-md-4">
                <a href="https://docs.angularjs.org/api/ng/directive/ngModel" title="ngModel" target="_blank">ngModel</a>
            </div>
             <div class="col-md-4">
                <a href="https://docs.angularjs.org/api/ng/directive/ngClass" title="ngClass" target="_blank">ngClass</a>
            </div>
             <div class="col-md-4">
                <a href="https://docs.angularjs.org/api/ng/directive/ngHide" title="ngHide" target="_blank">ngHide</a>
            </div>
             <div class="col-md-4">
                <a href="https://docs.angularjs.org/api/ng/directive/ngShow" title="ngShow" target="_blank">ngShow</a>
            </div>
             <div class="col-md-4">
                <a href="https://docs.angularjs.org/api/ng/directive/ngIf" title="ngIf" target="_blank">ngIf</a>
            </div>
             <div class="col-md-4">
                <a href="https://docs.angularjs.org/api/ng/directive/ngRepeat" title="ngRepeat" target="_blank">ngRepeat</a>
            </div>
        </div>
    </div>
</div>