<div class="odd slide content">
    <div class="container animated zoomInUp">
        <div class="row">
            <div class="col-md-12">
                <h1>Chamadas Asincronas</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="https://docs.angularjs.org/api/ng/service/$http" title="$http" target="_blank">$http</a>
            </div>
             <div class="col-md-6">
                <a href="https://docs.angularjs.org/api/ngResource/service/$resource" title="$resource" target="_blank">$resource</a>
            </div>
        </div>
    </div>
</div>