<div class="even slide content">
    <div class="container animated zoomInUp">
        <div class="row">
            <div class="col-md-12">
                <h1>Manipulação de Modelo</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Controller</h3>
            </div>
            <div class="col-md-12">
                <a href="https://docs.angularjs.org/guide/controller" title="Controller" target="_blank">Controller</a>
            </div>
        </div>
    </div>
</div>