<div class="even slide">
    <div class="container animated zoomInUp">
        <div class="row">
            <div class="col-md-12">
                <h1>Antes de Começar</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="https://www.npmjs.com/" title="NPM" target="_blank">
                    <img class="npm" src="../assets/npm.svg" alt="NPM" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://gruntjs.com/" title="Grunt" target="_blank">
                    <img src="../assets/grunt.png" alt="Grunt" />
                </a>            </div>
            <div class="col-md-4">
                <a href="https://bower.io/" title="Bower" target="_blank">
                    <img src="../assets/bower.svg" alt="Bower" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Versão: <a href="https://angularjs.org/" title="AngularJs 1.6.4" target="_blank">AngularJs 1.6.4</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Code Style: <a href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md" title="John Papa's style guide" target="_blank">John Papa's style guide</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Projecto inicial: <a href="https://github.com/cristianocorreia/angular-js-training" title="GitHub" target="_blank">GitHub</a></h4>
            </div>
        </div>
    </div>
</div>
